body{
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #40514E;
}
.top-container{
  height:800px;
  padding: 10px;
  background-color:  #DBF6E9 ;
}
.middle-container{
  height:1300px;
  padding-bottom: 10px;
  margin: 100px 0;
}
.bottom-container{
  padding: 50px 0px 20px 0;
  height: 60px;
  text-align: center;
  background-color: #66BFBF;
}
h1{
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 500%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h4{
  font-size: 25px;
  margin-top: 0px;
}
.navbar{
  height: 150px;
  padding: 10px;
  background-color:  #DBF6E9 ;
}
.photo1{
  position: absolute;
  left:10px;
  height: 130px;
  width: 160px;
  border-radius: 50%;
  display: inline-block;
}
.about{
  display: inline-block;
  position: absolute;
  right: 300px;

}
.work{
  display: inline-block;
  position: absolute;
  right: 200px;
}
.notes{
  display: inline-block;
  position: absolute;
  right: 100px;
}
.name{
  text-align: center;
  color: #66BFBF;
  margin: 50px auto 100px auto;
}
.cloud1{
  position: absolute;
  right: 50px;
  height:100px;
  width:200px;
  mix-blend-mode: multiply;
}
.cloud4{
  position: absolute;
  left: 150px;
  top:150px;
  height:100px;
  width:200px;
  mix-blend-mode: multiply;
}

hr {
border:none;
border-top:12px dotted;
color: #EAF6F6;
height:5px;
width:8%;
}
.profile{
  text-align: center;
  margin: 20px;

}
.photo2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 20%;
  mix-blend-mode: multiply;
  border-radius: 50%;
}
.pictures{
  display: block;
  height:420px;
}
.mount2{
  max-width: 100%;
  margin: 0 auto 0 auto;
  width: 50%;
  mix-blend-mode: multiply;
}
.span
{
  text-align: center;
}

.cloud2{
  position: absolute;
  left: 100px;
  height:100px;
  width:200px;
  mix-blend-mode: multiply;
}
.cloud3{
  position: absolute;
  right: 180px;
  top:600px;
  height:100px;
  width:200px;
  mix-blend-mode: multiply;
}
.video1{
  border-radius: 50%;
  width:25%;
  height:auto;
  display: inline-block;
  margin-right: 30px;
  float:left;
}
.video2{
  border-radius: 50%;
  width:25%;
  height:auto;
  float: right;
  margin-right: 30px;
}

.skills{
  height: 600px;
  padding: 20px;

}
.skill-row{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.contact-me{
  height: 250px;
  text-align: center;
}
.BUTTON_VUP {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #DBF6E9);
   background-image: -moz-linear-gradient(top, #66BFBF, #DBF6E9);
   background-image: -ms-linear-gradient(top, #66BFBF, #DBF6E9);
   background-image: -o-linear-gradient(top, #66BFBF, #DBF6E9);
   background-image: -webkit-gradient(to bottom, #66BFBF, #DBF6E9);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 30px;
   font-weight: 100;
   margin-top: 20px;
   padding: 10px;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 0;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.BUTTON_VUP:hover {
   background: #DBF6E9;
   background-image: -webkit-linear-gradient(top, #DBF6E9, #66BFBF);
   background-image: -moz-linear-gradient(top, #DBF6E9, #66BFBF);
   background-image: -ms-linear-gradient(top, #DBF6E9, #66BFBF);
   background-image: -o-linear-gradient(top, #DBF6E9, #66BFBF);
   background-image: -webkit-gradient(to bottom, #DBF6E9, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
